:root {
    --primary-color: lightgray;
    --secondary-color: white;
    --tertiary-color: lightslategray;
    --4th-color: azure;
  }*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--4th-color);
    font-family: Helvetica, Arial, sans-serif;
}
/* start of header section */
header {
    padding: 50px 35px;
    background-color: gray;
}
header h1 {
    font-weight: bold;
    font-size: 42px;
    color: lightgray;
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: white;
}
header nav {
    float: right;
    margin: 7px 0px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 26px;
}

.links {
    color: white; 
    font-size: 20px;
    padding: 10px;
    text-decoration: none; 
}
/* end of header */

/* About-me section */
.about-me {
    color: var(--tertiary-color);
    font-size: 30px;
    padding-block: 20px;
    margin: 20px;
    background-color: var(--primary-color);
}
.about-me img {
    float: left;
    width: 20%;
    height: auto;
    margin: 50px;
}
.about-me p {
    text-align: center;
    font-size: 20px;
    border: 5px solid;
    border-color: black;
    display: inline;
}
.bio p {
    font-size: 20px;
    color: var(--tertiary-color);
    width: calc(100% - 350px - 10px);
 
}

/* work section */
.work-section {
    clear: left;
    color: var(--tertiary-color);
    font-size: 30px;
    padding-block: 20px;
    margin: 20px;
    background-color: var(--primary-color);
    display: flex;
}
.project1 img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;

}
.project2 img {
    width: 35%;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.project3 img {
    width: 35%;
    height: auto;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-width: 30px 5px 30px 5px;
    border-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom-left1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.bottom-left2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.bottom-left3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
/* end of project section */

/* contact section */
.contact {
    color: var(--tertiary-color);
    font-size: 30px;
    padding-block: 20px;
    margin: 20px;
    background-color: var(--primary-color);
}
.contact-links {
    text-align: center;
    font-size: 20px;
}

/* start of footer */
footer {
    background-color:rgb(102, 138, 141);
    padding: 40px 35px;
    width: 100%;
}